@model List<TaskForIntern.Models.TodoItemModel>
@{
    ViewData["Title"] = "To-Do List - Luka Rusadze";
}

<div class="text-center">
    <h1 class="display-4">To-Do List</h1>

    <form asp-controller="Home" asp-action="AddToTable" class="inputForm">
        <input name="ToDoItem" type="text" class="form-control col-lg-5" placeholder="What's your first todo?" />
        <button type="submit" class="btn btn-success">Add</button>
    </form>

    <table class="table table-striped col-sm-6 todoList">
        
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.ToDoItem)
                </td>
                <td class="itemButtons">
                    <form asp-controller="Home" asp-action="Edit">
                        <button class="btn btn-primary editBtn" name="ID" value="@item.ID">Edit</button>
                    </form>

                    <form asp-controller="Home" asp-action="Delete">
                        <button class="btn btn-danger deleteBtn" name="ID" value="@item.ID">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>

</div>
